
{:paths ["source-code/clj" "source-code/cljc" "source-code/cljs"]
 :deps  {clj-time/clj-time           {:mvn/version "0.15.1"}
         com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
         tea-time/tea-time           {:mvn/version "1.0.1"}
         bithandshake/cljc-fruits    {:git/url "https://github.com/bithandshake/cljc-fruits"
                                      :sha     "3af14c0f8099889661a6e04b2b7b2c8930181865"}}}
